@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

@media screen and (max-width: 999px) {
  html {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 799px) {
  html {
    font-size: 0.7rem;
  }
}

body {
  font-family: Montserrat, 游ゴシック体, YuGothic, 游ゴシック, "Yu Gothic", メイリオ, sans-serif;
  color: #333;
  padding-top: 95px;
}

body p {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 34px;
}

@media screen and (max-width: 999px) {
  body p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 799px) {
  body p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 999px) {
  body {
    padding-top: 63px;
  }
}

@media screen and (max-width: 799px) {
  body {
    padding-top: 43px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  transition: 0.5s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header.scroll-nav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header.scroll-nav .sub-header {
  display: none;
}

header.scroll-nav .h-wrap {
  padding-bottom: 0 !important;
  transition: 0.5s;
}

header .wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

header .wrapper .sub-header {
  margin-top: 1rem;
}

header .wrapper .sub-header h1 {
  font-size: 0.9rem;
  font-weight: normal;
}

header .wrapper .h-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

header .wrapper .h-wrap .h-logo {
  width: 18%;
}

header .wrapper .h-wrap .h-logo a {
  text-decoration: none;
  color: #333;
}

header .wrapper .h-wrap .h-logo a img {
  width: 100%;
}

header .wrapper .h-wrap .h-nav {
  width: 79%;
}

header .wrapper .h-wrap .h-nav ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 10px 0;
}

header .wrapper .h-wrap .h-nav ul li {
  list-style: none;
  margin-left: 1.75rem;
  font-weight: bold;
  font-size: 14px;
}

header .wrapper .h-wrap .h-nav ul li a {
  text-decoration: none;
  color: #333;
  position: relative;
  padding-bottom: 0.5rem;
}

header .wrapper .h-wrap .h-nav ul li a:hover {
  cursor: pointer;
}

header .wrapper .h-wrap .h-nav ul li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: #333;
  transition: 0.3s;
}

header .wrapper .h-wrap .h-nav ul li a:hover::after {
  width: 100%;
}

header .wrapper .h-wrap .h-nav ul li a#user-page::after {
  width: 100%;
}

header .wrapper .h-wrap .h-nav ul li.detail-btn {
  margin: 3rem auto;
  text-align: center;
  margin: 0 0 0 1.8rem;
}

header .wrapper .h-wrap .h-nav ul li.detail-btn a {
  text-decoration: none;
}

header .wrapper .h-wrap .h-nav ul li.detail-btn a span {
  display: inline-block;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  background: #fff;
  padding: 18px 74px 18px 60px;
  border: 1px solid #333;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
}

header .wrapper .h-wrap .h-nav ul li.detail-btn a span::before {
  content: "";
  width: 100%;
  height: 101%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #333;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
  border-radius: 4px;
}

header .wrapper .h-wrap .h-nav ul li.detail-btn a span::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0px;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  transform: rotate(45deg);
  position: absolute;
  top: 39%;
  right: 26px;
}

header .wrapper .h-wrap .h-nav ul li.detail-btn a span:hover {
  color: #fff;
}

header .wrapper .h-wrap .h-nav ul li.detail-btn a span:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

header .wrapper .h-wrap .h-nav ul li.detail-btn a span:hover::after {
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
}

@media screen and (max-width: 999px) {
  header .wrapper .h-wrap .h-nav ul li.detail-btn a span {
    font-size: 14px;
    font-weight: normal;
    padding: 12px 36px 12px 22px;
  }
  header .wrapper .h-wrap .h-nav ul li.detail-btn a span::after {
    position: absolute;
    top: 39%;
    right: 18px;
    width: 6px;
    height: 6px;
  }
}

@media screen and (max-width: 799px) {
  header .wrapper .h-wrap .h-nav ul li.detail-btn a span {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 34px 10px 20px;
  }
  header .wrapper .h-wrap .h-nav ul li.detail-btn a span::after {
    position: absolute;
    top: 39%;
    right: 18px;
    width: 6px;
    height: 6px;
  }
}

header .wrapper .h-wrap .h-nav ul li.detail-btn a:hover::after {
  display: none;
}

header .wrapper .h-wrap .h-nav ul li.detail-btn span {
  padding: 10px 16px !important;
  font-size: 14px !important;
}

header .wrapper .h-wrap .h-nav ul li.detail-btn span::after {
  display: none;
}

header .wrapper .h-wrap .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
  z-index: 999;
}

header .wrapper .h-wrap .overlay.show {
  opacity: 1;
  pointer-events: auto;
}

header .wrapper .h-wrap .overlay #close {
  position: absolute;
  top: 3.2vw;
  right: 4.3vw;
  cursor: pointer;
  font-size: 20px;
}

header .wrapper .h-wrap .overlay ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header .wrapper .h-wrap .overlay ul li {
  margin-top: 2rem;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.3s, transform 0.3s;
  font-size: 14px;
}

header .wrapper .h-wrap .overlay ul li a {
  color: #333;
}

header .wrapper .h-wrap .overlay.show li {
  opacity: 1;
  transform: none;
}

header .wrapper .h-wrap .overlay.show li:nth-child(1) {
  transition-delay: 0.1s;
}

header .wrapper .h-wrap .overlay.show li:nth-child(2) {
  transition-delay: 0.2s;
}

header .wrapper .h-wrap .overlay.show li:nth-child(3) {
  transition-delay: 0.3s;
}

header .wrapper .h-wrap .overlay.show li:nth-child(4) {
  transition-delay: 0.4s;
}

header .wrapper .h-wrap .overlay.show li:nth-child(5) {
  transition-delay: 0.5s;
}

header .wrapper .h-wrap .overlay.show li:nth-child(6) {
  transition-delay: 0.6s;
}

header .wrapper .h-wrap .overlay.show li:nth-child(7) {
  transition-delay: 0.7s;
}

@media screen and (max-width: 999px) {
  header .wrapper {
    padding: 1rem 40px;
  }
  header .wrapper .sub-header {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  header .wrapper .h-wrap {
    align-items: unset;
    padding-bottom: 0;
  }
  header .wrapper .h-wrap .h-nav {
    display: none;
  }
  header .wrapper .h-wrap .sp-h-nav {
    position: absolute;
    right: 4%;
    top: 35%;
  }
}

@media screen and (max-width: 799px) {
  header .wrapper {
    padding: 14px 4% 10px;
  }
  header .wrapper .sub-header {
    display: none;
  }
  header .wrapper .h-wrap {
    align-items: center;
    padding-bottom: 0;
  }
  header .wrapper .h-wrap .h-logo {
    width: 35%;
    max-width: 185px;
  }
  header .wrapper .h-wrap .sp-h-nav {
    position: static;
  }
}

@media screen and (min-width: 1000px) {
  header .wrapper .h-wrap .sp-h-nav,
  header .wrapper .h-wrap .overlay {
    display: none;
  }
}

.breadCrumb {
  margin-top: 95px !important;
  width: 90%;
  max-width: 1100px !important;
}

.breadCrumb a {
  color: #333;
}

.c-layout {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

h1.page-h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin: 8rem auto 3rem;
}

.h1-desc {
  width: 94%;
  margin: 0 auto;
}

.h1-desc p {
  text-align: center;
  margin-bottom: 5rem;
}

@media screen and (max-width: 799px) {
  .h1-desc p br {
    display: none;
  }
}

h2.bl-b {
  border-left: solid 5px #7db4e6;
  padding-left: 0.75rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0;
  letter-spacing: 0.1rem;
}

h3 {
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.block-layout {
  max-width: 1000px;
  margin: 0 auto;
}

.parallax {
  margin: 0 auto;
  max-width: 1900px;
  width: 100%;
  height: 500px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  text-align: center;
  display: table;
  justify-content: center;
  margin-top: 4rem;
}

.parallax.cv-bg {
  background-image: url(../IMG/common/bg1.jpg);
  width: 100%;
}

.parallax .cta {
  display: table-cell;
  vertical-align: middle;
}

.parallax .cta p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 3rem;
  width: 60%;
  margin: 0 auto;
}

.parallax .cta .cta-btn {
  margin: 3rem auto 0;
  text-align: center;
}

.parallax .cta .cta-btn a {
  text-decoration: none;
}

.parallax .cta .cta-btn a span {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  padding: 18px 74px 18px 60px;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.parallax .cta .cta-btn a span::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #fff;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}

.parallax .cta .cta-btn a span::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 40%;
  right: 26px;
}

.parallax .cta .cta-btn a span:hover {
  color: #333;
}

.parallax .cta .cta-btn a span:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.parallax .cta .cta-btn a span:hover::after {
  border-top: solid 2px #333;
  border-right: solid 2px #333;
}

@media screen and (max-width: 999px) {
  .parallax {
    height: 300px;
  }
  .parallax .cta p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .parallax .cta .cta-btn a span {
    font-size: 14px;
    font-weight: normal;
    padding: 12px 36px 12px 22px;
  }
  .parallax .cta .cta-btn a span::after {
    position: absolute;
    top: 39%;
    right: 18px;
    width: 6px;
    height: 6px;
  }
}

@media screen and (max-width: 799px) {
  .parallax {
    height: 200px;
  }
  .parallax.cv-bg {
    background-image: url(../IMG/common/sp-bg1.jpg);
    width: 100%;
  }
  .parallax .cta p {
    width: 90%;
    letter-spacing: 1px;
  }
  .parallax .cta .cta-btn a span {
    padding: 10px 34px 10px 20px;
  }
}

footer {
  padding: 3rem 1rem;
  border-bottom: 10px solid #333;
}

footer .footer-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-container .f-left p.f-p1 {
  margin-top: 0.5rem;
  font-weight: bold;
}

footer .footer-container .f-left .f-logo {
  width: 230px;
}

footer .footer-container .f-left .f-logo a img {
  width: 100%;
}

footer .footer-container .f-left .f-address {
  margin-top: 1rem;
}

footer .footer-container .f-left .f-address p {
  margin: 0;
  letter-spacing: 0;
}

footer .footer-container .f-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-container .f-right li {
  font-weight: bold;
  list-style: none;
  margin: 1rem;
}

footer .footer-container .f-right li a {
  text-decoration: none;
  color: #333;
  transition: 0.5s;
}

footer .footer-container .f-right li a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 999px) {
  footer .footer-container .f-left p.f-p1 {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 14px;
  }
  footer .footer-container .f-left .f-logo {
    width: 160px;
  }
  footer .footer-container .f-left .f-address p {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
  }
}

@media screen and (max-width: 799px) {
  footer .footer-container {
    flex-direction: column-reverse;
  }
  footer .footer-container .f-left {
    margin-top: 5rem;
    text-align: center;
  }
  footer .footer-container .f-left .f-logo {
    margin: 0 auto;
  }
  footer .footer-container .f-left .f-address {
    margin: 2rem 0 1rem;
  }
  footer .footer-container .f-left .f-address p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
  }
  footer .footer-container .f-right {
    width: 75%;
  }
}
