body#price .price-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

body#price .price-container .select_btn ul {
  display: flex;
  justify-content: center;
}

body#price .price-container .select_btn ul li {
  list-style: none;
}

body#price .price-container .select_btn ul li:nth-child(1) {
  padding-right: 2rem;
}

body#price .price-container .select_btn ul li:nth-child(2) {
  padding-left: 2rem;
  border-left: 1px solid #333;
}

body#price .price-container .select_btn ul li a {
  color: #333;
  transition: 0.4s;
}

body#price .price-container .select_btn ul li a span {
  font-size: 18px;
}

body#price .price-container .select_btn ul li a:hover {
  opacity: 0.6;
  transition: 0.4s;
}

body#price .price-container h2 {
  padding-left: 1rem;
  border-left: 5px solid #6095fa;
}

body#price .price-container .web-wrap {
  border-bottom: 2px solid #dddddd;
  padding-bottom: 8rem;
}

body#price .price-container .web-wrap .hp-block {
  margin-top: 5rem;
}

body#price .price-container .web-wrap .hp-block .hp-wrap {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-desc {
  margin-left: 17%;
}

body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-desc span.p-case {
  padding: 8px 10px 8px 11px;
  background: #575656;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  margin-bottom: 0.75rem;
}

body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-desc p.p-p2 {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-desc p.p-p3 {
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #053ac9;
  margin: 1.25rem 0 1.25rem;
}

body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-desc p.p-p3 span {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-desc .p-p4 ul li {
  list-style: none;
  position: relative;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-desc .p-p4 ul li:before {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  top: 0.36rem;
  content: "";
  background: #6095fa;
}

body#price .price-container .advertisement-wrap {
  margin-bottom: 9rem;
  padding-top: 8rem;
}

body#price .price-container .advertisement-wrap .advertisement-block {
  margin-bottom: 4rem;
}

body#price .price-container .advertisement-wrap .advertisement-block table {
  width: 100%;
  border-collapse: collapse;
}

body#price .price-container .advertisement-wrap .advertisement-block table tr th {
  width: 55%;
  padding-left: 3rem !important;
}

body#price .price-container .advertisement-wrap .advertisement-block table tr td {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #053ac9;
}

body#price .price-container .advertisement-wrap .advertisement-block table tr th,
body#price .price-container .advertisement-wrap .advertisement-block table tr td {
  border-bottom: 1px solid #333;
  text-align: left;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0.75rem;
}

@media screen and (max-width: 799px) {
  body#price .price-container .select_btn ul li a span {
    font-size: 14px;
  }
  body#price .price-container .web-wrap .hp-block h2 {
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-align: center;
    padding: 0;
    border: none;
  }
  body#price .price-container .web-wrap .hp-block h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #7db4e6;
    margin: 1rem auto 0;
  }
  body#price .price-container .web-wrap .hp-block .hp-wrap {
    display: block;
    margin: 4rem auto 0;
    padding-bottom: 4rem;
    border-bottom: 1px solid #ddd;
  }
  body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-img {
    width: 50%;
    margin: 0 auto;
  }
  body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-img img {
    width: 100%;
  }
  body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-desc {
    margin: 4rem auto 0;
    width: 50%;
  }
  body#price .price-container .web-wrap .hp-block:nth-child(2) .hp-wrap {
    border: none;
  }
  body#price .price-container .advertisement-wrap {
    margin-bottom: 12rem;
  }
  body#price .price-container .advertisement-wrap .advertisement-block {
    margin-bottom: 6rem;
  }
  body#price .price-container .advertisement-wrap .advertisement-block h2 {
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-align: center;
    padding: 0;
    border: none;
  }
  body#price .price-container .advertisement-wrap .advertisement-block h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #7db4e6;
    margin: 1rem auto 0;
  }
  body#price .price-container .advertisement-wrap .advertisement-block table tr th {
    width: 60%;
  }
  body#price .price-container .advertisement-wrap .advertisement-block table tr th,
  body#price .price-container .advertisement-wrap .advertisement-block table tr td {
    font-size: 14px;
  }
}

@media screen and (max-width: 499px) {
  body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-img {
    width: 90%;
    margin: 0 auto;
  }
  body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-desc {
    margin: 4rem auto 0;
    width: 100%;
    text-align: center;
  }
  body#price .price-container .web-wrap .hp-block .hp-wrap .priceWrap-desc .p-p4 ul li::before {
    display: none;
  }
  body#price .price-container .advertisement-wrap .advertisement-block table tr th {
    padding-left: 0.5rem !important;
    width: 55%;
    padding: 1.5rem 0.5rem 0.5rem;
  }
  body#price .price-container .advertisement-wrap .advertisement-block table tr th, body#price .price-container .advertisement-wrap .advertisement-block table tr td {
    font-size: 13px;
  }
}
/*# sourceMappingURL=price.css.map */