#service .service-contents {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

#service .service-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

#service .service-container .service-block {
  width: 43%;
  background: #fff;
  border: 1px solid #dddddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 48px;
  transition: 0.5s;
}

#service .service-container .service-block:hover {
  cursor: pointer;
}

#service .service-container .service-block a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

#service .service-container .service-block a .s-icon {
  width: 25%;
  margin: 0 auto;
}

#service .service-container .service-block a .s-icon img {
  width: 100%;
}

#service .service-container .service-block a .s-desc {
  width: 70%;
  margin-left: 5%;
}

#service .service-container .service-block a .s-desc p:nth-child(1) {
  font-size: 1.15rem;
  font-weight: bold;
  margin-top: 0;
}

#service .service-container .service-block a .s-desc p:nth-child(2) {
  text-align: justify;
  letter-spacing: 2px;
  line-height: 28px;
  font-size: 16px;
}

#service .service-container .service-block a .s-desc span {
  font-size: 14px;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
}

#service .service-container .service-block:hover {
  transition: 0.5s;
  transform: translateY(-4px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 7px -2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 999px) {
  #service .service-container .service-block a .s-desc p:nth-child(2) {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
  }
  #service .service-container .service-block a .s-desc span {
    font-size: 12px;
  }
}

@media screen and (max-width: 799px) {
  #service .service-container {
    display: block;
  }
  #service .service-container .service-block {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  #service .service-container .service-block a {
    display: block;
  }
  #service .service-container .service-block a .s-desc {
    width: 100%;
    margin: 0;
  }
  #service .service-container .service-block a .s-desc p:nth-child(1) {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto;
  }
  #service .service-container .service-block a .s-desc p:nth-child(2) {
    letter-spacing: 1px;
    line-height: 24px;
  }
  #service .service-container .service-block a .s-desc span {
    font-size: 12px;
    display: block;
    text-align: right;
    color: #555454;
  }
}

#service .parallax {
  margin-top: 0;
}

.footer-serviceList {
  background: #f3f3f3;
}

.footer-serviceList .service-ttl {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  padding: 4rem 0 1rem;
}

.service-homepage .service-contents .homepage-block {
  margin-bottom: 4rem;
}

.service-homepage .service-contents .homepage-block .case span {
  color: #fff;
  background: #3a65bb;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
  letter-spacing: 1px;
  padding: 8px 12px 8px 14px;
}

.service-homepage .service-contents .homepage-block h2 {
  margin: 1.25rem 0 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

.service-homepage .service-contents .homepage-block .block-desc p {
  letter-spacing: 1px;
}

.service-lppage .service-contents .lp-container .block2 .img-wrap ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.service-lppage .service-contents .lp-container .block2 .img-wrap ul li {
  list-style: none;
  width: 16%;
  background: url(../IMG/lp/arrow-r.png) no-repeat right;
  background-size: 24px;
  padding-right: 3.2%;
}

.service-lppage .service-contents .lp-container .block2 .img-wrap ul li:last-child {
  background: none;
}

.service-lppage .service-contents .lp-container .block2 .img-wrap ul li img {
  width: 100%;
}

body.service-advertisement .block1 {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

body.service-advertisement .block1 .block1-2 {
  margin-bottom: 1.75rem;
}

body.service-advertisement .block1 .block1-2 h3 {
  display: inline-block;
  background: url(../IMG/advertisement/ico-check.svg) no-repeat left;
  background-size: 18px;
  padding-left: 24px;
}

body.service-advertisement .block2 {
  padding-bottom: 4.75rem;
  margin-bottom: 5rem;
}

body.service-advertisement .block2 .block2-wrap {
  display: flex;
  justify-content: space-between;
}

body.service-advertisement .block2 .block2-wrap .block2-1,
body.service-advertisement .block2 .block2-wrap .block2-2 {
  padding: 2rem 2.5rem;
  width: 40%;
  border: 1px solid #333;
}

body.service-advertisement .block2 .block2-wrap .block2-1 h3,
body.service-advertisement .block2 .block2-wrap .block2-2 h3 {
  margin-top: 0;
}

body.service-advertisement .block2 .block2-wrap .block2-1 table,
body.service-advertisement .block2 .block2-wrap .block2-2 table {
  width: 100%;
}

body.service-advertisement .block2 .block2-wrap .block2-1 table tr:nth-child(1) td,
body.service-advertisement .block2 .block2-wrap .block2-2 table tr:nth-child(1) td {
  padding-bottom: 0.75rem;
}

body.service-advertisement .block2 .block2-wrap .block2-1 table tr td,
body.service-advertisement .block2 .block2-wrap .block2-2 table tr td {
  width: 35%;
}

body.service-maintenance .service-contents .maintenance-container .block1 {
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

body.service-maintenance .service-contents .maintenance-container .block1 .block1-2 {
  margin-bottom: 1.75rem;
}

body.service-maintenance .service-contents .maintenance-container .block1 .block1-2 h3 {
  display: inline-block;
  background: url(../IMG/advertisement/ico-check.svg) no-repeat left;
  background-size: 18px;
  padding-left: 24px;
}
/*# sourceMappingURL=service.css.map */