@import "_mixin";

// -----------ブログ一覧
body#blog-archive {
  .blog-container {
    @include blog-container;
  }
}

// -----------ブログ詳細
body#blog-single {
  .blogSingle-container {
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
    .blog-kv {
      margin: 5rem auto;
      img {
        width: 100%;
      };
    }
    h1 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 3rem;
      line-height: 3rem;
    }
  }
}
