@import "_accordion";
@import "_mixin";

body#flow {
  // color: red;
  .flow-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    .flowBlock {
      @include flowLabel;
      margin-bottom: 5rem;
      p.flowDesc {
        padding-left: 130px;
        // margin-top: 1rem;
        
      }
    }
  }
}
