@import "_mixin";

body#price {
  .price-container {
    // @include common-layout;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    .select_btn {
      ul {
        display: flex;
        justify-content: center;
        li {
          list-style: none;
          &:nth-child(1) {
            padding-right: 2rem;
          }
          &:nth-child(2) {
            padding-left: 2rem;
            border-left: 1px solid #333;
          }
          a {
            color: #333;
            transition: 0.4s;
            span {
              font-size: 18px;
            }
            &:hover {
              opacity: 0.6;
              transition: 0.4s;
            }
          }
        }
      }
    }
    h2 {
      padding-left: 1rem;
      border-left: 5px solid #6095fa;
    }
    .web-wrap {
      border-bottom: 2px solid #dddddd;
      padding-bottom: 8rem;
      .hp-block {
        margin-top: 5rem;
        .hp-wrap {
          display: flex;
          justify-content: center;
          margin-top: 4rem;
          .priceWrap-desc {
            margin-left: 17%;
            span.p-case {
              padding: 8px 10px 8px 11px;
              background: #575656;
              color: #fff;
              font-size: 12px;
              letter-spacing: 2px;
              display: inline-block;
              margin-bottom: 0.75rem;
            }
            p.p-p2 {
              font-size: 1.25rem;
              font-weight: bold;
              letter-spacing: 0.1rem;
            }
            p.p-p3 {
              font-size: 1.75rem;
              font-weight: bold;
              letter-spacing: 0.2rem;
              color: #053ac9;
              margin: 1.25rem 0 1.25rem;
              span {
                font-size: 1rem;
                letter-spacing: 0.1rem;
                font-weight: bold;
              }
            }
            .p-p4 {
              ul li {
                list-style: none;
                position: relative;
                padding-left: 1rem;
                margin-bottom: 1rem;
                &:before {
                  border-radius: 50%;
                  width: 5px;
                  height: 5px;
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 0.36rem;
                  content: "";
                  background: #6095fa;
                }
              }
            }
          }
        }
      }
    }
    .advertisement-wrap {
      margin-bottom: 9rem;
      padding-top: 8rem;
      .advertisement-block {
        margin-bottom: 4rem;
        table {
          width: 100%;
          // margin-left: 1rem;
          // margin: 0 auto;
          border-collapse: collapse;
          tr {
            th {
              width: 55%;
              padding-left: 3rem !important;
            }
            td {
              font-size: 1.5rem;
              font-weight: bold;
              letter-spacing: 0.2rem;
              color: #053ac9;
            }
            th,
            td {
              border-bottom: 1px solid #333;
              text-align: left;
              font-size: 18px;
              letter-spacing: 1px;
              padding: 0.75rem;
            }
          }
        }
      }
    }
  }
  @media screen and(max-width: 799px) {
    .price-container {
      .select_btn {
        ul li a span {
          font-size: 14px;
        }
      }
      .web-wrap {
        .hp-block {
          h2 {
            @include h2-bb-b;
            padding: 0;
            border: none;
          }
          .hp-wrap {
            display: block;
            margin: 4rem auto 0;
            padding-bottom: 4rem;
            border-bottom: 1px solid #ddd;
            .priceWrap-img {
              width: 50%;
              margin: 0 auto;
              img {
                width: 100%;
              }
            }
            .priceWrap-desc {
              margin: 4rem auto 0;
              width: 50%;
            }
          }
          &:nth-child(2) {
            .hp-wrap {
              border: none;
            }
          }
        }
      }
      .advertisement-wrap {
        margin-bottom: 12rem;
        .advertisement-block {
          margin-bottom: 6rem;
          h2 {
            @include h2-bb-b;
            padding: 0;
            border: none;
          }
          table tr {
            th {
              width: 60%;
            }
            th,
            td {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  @media screen and(max-width: 499px) {
    .price-container {
      .web-wrap {
        .hp-block {
          .hp-wrap {
            .priceWrap-img {
              width: 90%;
              margin: 0 auto;
            }
            .priceWrap-desc {
              margin: 4rem auto 0;
              width: 100%;
              text-align: center;
              .p-p4 ul li {
                // display: inline-block;
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
      .advertisement-wrap {
        .advertisement-block {
          table tr {
            th {
              padding-left: 0.5rem !important;
              width: 55%;
              padding: 1.5rem 0.5rem 0.5rem;
            }
            th, td {
              font-size: 13px;

            }
          }
        }
      }
    }
  }
}
