@import "_mixin";

#service {
  header {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  .service-contents {
    width: 1100px;
    margin: 0 auto;
  }
  // .service-bg {
  //   padding: 3.5rem 0 1rem;
  //   background: #f3f3f3;

  // h2 {
  //   margin: 1.25rem 0 4.5rem;
  //   font-size: 1.75rem;
  //   letter-spacing: 0.15rem;
  //   text-align: center;
  //   position: relative;
  //   padding-bottom: 1rem;
  //   &:before {
  //     position: absolute;
  //     bottom: -10px;
  //     left: calc(50% - 30px);
  //     width: 60px;
  //     height: 5px;
  //     content: "";
  //     border-radius: 3px;
  //     background: #a5a4a4;
  //   }
  // }

  .service-container {
    @include service-container;
    padding-bottom: 5rem;
  }
  // }
  .parallax {
    margin-top: 0;
  }
}
.footer-serviceList {
  background: #f3f3f3;
  .service-ttl {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    padding: 4rem 0 1rem;
  }
}

//----------------ホームページ制作
.service-homepage {
  .service-contents {
    .homepage-block {
      margin-bottom: 4rem;
      .case span {
        color: #fff;
        background: #3a65bb;
        font-weight: bold;
        font-size: 12px;
        border-radius: 3px;
        letter-spacing: 1px;
        padding: 8px 12px 8px 14px;
      }
      h2 {
        margin: 1.25rem 0 1.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
      }
      .block-desc p {
        letter-spacing: 1px;
      }
    }
  }
}
//----------------LPページ制作
.service-lppage {
  .service-contents {
    .lp-container {
      .block2 {
        .img-wrap {
          ul {
            padding: 0;
            display: flex;
            justify-content: space-between;
            li {
              list-style: none;
              width: 16%;
              background: url(../IMG/lp/arrow-r.png) no-repeat right;
              background-size: 24px;
              // padding-right: 24px;
              padding-right: 3.2%;
              &:last-child {
                background: none;
              }
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
//----------------WEB広告運用
body.service-advertisement {
  .block1 {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 2rem;
    margin-bottom: 4rem;

    .block1-2 {
      margin-bottom: 1.75rem;
      h3 {
        display: inline-block;
        background: url(../IMG/advertisement/ico-check.svg) no-repeat left;
        background-size: 18px;
        padding-left: 24px;
      }
    }
  }
  .block2 {
    // border-bottom: 1px solid #dddddd;
    padding-bottom: 4.75rem;
    margin-bottom: 5rem;
    .block2-wrap {
      display: flex;
      justify-content: space-between;
      .block2-1,
      .block2-2 {
        padding: 2rem 2.5rem;
        width: 40%;
        border: 1px solid #333;
        h3 {
          margin-top: 0;
        }
        table {
          width: 100%;
          tr {
            &:nth-child(1) td {
              padding-bottom: 0.75rem;
            }
            td {
              width: 35%;
            }
          }
        }
      }
    }
  }
}
//----------------サイト保守・運用
body.service-maintenance {
  .service-contents .maintenance-container {
    .block1 {
      // border-bottom: 1px solid #dddddd;
      padding-bottom: 2rem;
      margin-bottom: 4rem;
  
      .block1-2 {
        margin-bottom: 1.75rem;
        h3 {
          display: inline-block;
          background: url(../IMG/advertisement/ico-check.svg) no-repeat left;
          background-size: 18px;
          padding-left: 24px;
        }
      }
    }
  }
}
