@import "_mixin";

#service {
  // header {
  //   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  // }
  .service-contents {
    @include common-layout;
    margin-bottom: 6rem;
  }

  .service-container {
    @include service-container;
    padding: 0 1rem 5rem;
  }
  // }
  .parallax {
    margin-top: 0;
  }
}
.footer-serviceList {
  background: #f3f3f3;
  .service-ttl {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    padding: 5rem 0 3rem;
  }
}

//----------------ホームページ制作
.service-homepage {
  .service-contents {
    .homepage-container {
      padding: 0 20px;
      .homepage-block {
        margin-bottom: 4rem;
        &:last-child {
          margin-bottom: 0;
        }
        .case span {
          color: #fff;
          background: #3a65bb;
          font-weight: bold;
          font-size: 12px;
          border-radius: 3px;
          letter-spacing: 1px;
          padding: 8px 12px 8px 14px;
        }
        h2 {
          margin: 1.25rem 0 1.5rem;
          font-size: 1.5rem;
          letter-spacing: 0.15rem;
        }
        .block-desc p {
          letter-spacing: 1px;
        }
      }
    }
  }
}
//----------------LPページ制作
.service-lppage {
  .service-contents {
    .lp-container {
      padding: 0 20px;
      .block2 {
        margin-top: 4rem;
        .img-wrap {
          ul {
            padding: 0;
            display: flex;
            justify-content: space-between;
            li {
              list-style: none;
              width: 16%;
              background: url(../IMG/lp/arrow-r.png) no-repeat right;
              background-size: 24px;
              // padding-right: 24px;
              padding-right: 3.5%;
              &:last-child {
                background: none;
                padding-right: 0;
              }
              img {
                width: 100%;
              }
            }
          }
        }
        .block-desc {
          margin-top: 1rem;
        }
      }
    }
  }
  @media screen and(max-width: 799px) {
    .service-contents {
      .lp-container {
        .block2 {
          .img-wrap {
            ul {
              // width: 90%;
              margin: auto;
              flex-wrap: wrap;
              // justify-content: left;
              li {
                width: 28%;
                margin-top: 2rem;
                padding-right: 5.5%;
                background: url(../IMG/lp/arrow-r.png) no-repeat right;
                background-size: 10%;
                &:nth-child(3) {
                  background: none;
                  padding-right: 0;
                }
                &:last-child {
                  margin-right: auto;
                  margin-left: 2.5%;
                }
              }
            }
          }
        }
      }
    }
  }
}
//----------------WEB広告運用
body.service-advertisement {
  .service-contents {
    .advertisement-container {
      padding: 0 20px;
      .block1 {
        border-bottom: 1px solid #dddddd;
        padding-bottom: 2rem;
        margin-bottom: 4rem;

        .block1-2 {
          margin-bottom: 1.75rem;
          h3 {
            display: inline-block;
            background: url(../IMG/advertisement/ico-check.svg) no-repeat left;
            background-size: 18px;
            padding-left: 24px;
          }
        }
      }
      .block2 {
        // border-bottom: 1px solid #dddddd;
        padding-bottom: 4.75rem;
        margin-bottom: 5rem;
        .block2-wrap {
          display: flex;
          justify-content: space-between;
          .block2-1,
          .block2-2 {
            padding: 2rem 2.5rem;
            width: 40%;
            border: 1px solid #333;
            h3 {
              margin-top: 0;
            }
            table {
              width: 100%;
              tr {
                &:nth-child(1) td {
                  padding-bottom: 0.75rem;
                }
                td {
                  width: 35%;
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and(max-width: 799px) {
    .service-contents {
      .advertisement-container {
        .block1, .block2 {
          h2 {
            text-align: center;
          }
        }
        .block2 {
          .block2-wrap {
            display: block;
            .block2-1,
            .block2-2 {
              width: 80%;
              padding: 2rem 1rem;
              margin: 0 auto 2rem;
              table tr td {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
//----------------サイト保守・運用
body.service-maintenance {
  .service-contents .maintenance-container {
    padding: 0 20px;
    .block1 {
      // border-bottom: 1px solid #dddddd;
      padding-bottom: 2rem;
      margin-bottom: 4rem;

      .block1-2 {
        margin-bottom: 1.75rem;
        h3 {
          display: inline-block;
          background: url(../IMG/advertisement/ico-check.svg) no-repeat left;
          background-size: 18px;
          padding-left: 24px;
        }
      }
    }
  }
}
