@import "_accordion";
@import "_mixin";

#top {
  .kv {
    position: relative;
    max-width: 1900px;
    height: 85vh;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 91px;
    .slide {
      position: relative;
      height: auto;
      img {
        position: absolute;
        opacity: 0;
        transition: all 1s ease-in-out;
        width: 100%;
        object-fit: contain;
      }
    }
    .slider_range {
      display: none;
      margin: 0;
    }
    .cc-wrap {
      .cc1 {
        display: table;
        p.txt01 {
          position: absolute;
          top: 210px;
          left: 5%;
          font-size: 2.75vw;
          letter-spacing: 0.75vw;
          font-weight: bold;
          // background: #fff;
          background-color: rgba(255, 255, 255, 0.7);
          padding: 1.5vw;
          animation-delay: 1s;
        }
        p.txt02 {
          position: absolute;
          top: 310px;
          left: 5%;
          font-size: 2.75vw;
          letter-spacing: 0.75vw;
          font-weight: bold;
          // background: #fff;
          background-color: rgba(255, 255, 255, 0.7);
          padding: 1.5vw;
          animation-delay: 1.6s;
        }
        .fadein {
          opacity: 0;
          animation: fadein 0.7s ease forwards;
        }
        @keyframes fadein {
          0% {
            opacity: 0;
            transform: translateY(30px);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      .cc2 {
        p.txt03 {
          position: absolute;
          top: 440px;
          left: 5%;
          font-size: 1.25vw;
          letter-spacing: 0.75vw;
          padding: 1vw;
          font-weight: bold;
          background-color: rgba(255, 255, 255, 0.7);
          animation-delay: 2.8s;
        }
      }
      .fadein2 {
        opacity: 0;
        animation: fadein2 0.7s ease forwards;
      }
      @keyframes fadein2 {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    @media screen and (min-width: 1900px) {
      .cc-wrap {
        p.txt01,
        p.txt02 {
          font-size: 38px !important;
          padding: 28px !important;
        }
        p.txt03 {
          font-size: 18px !important;
          padding: 18px !important;
        }
      }
    }
  }
  .feature {
    @include ttl-block;
    .feature-container {
      // @include block-layout;
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .feature-block {
        width: 280px;
        // height: 410px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        border: 1px solid #DDDDDD;
        padding: 1rem;
        .f-icon {
          width: 160px;
          margin: 0 auto;
          img {
            width: 100%;
          }
        }
        .f-desc {
          h3 {
            font-size: 1.15rem;
            line-height: 1.8rem;
            text-align: center;
          }
          p {
            text-align: justify;
            margin-bottom: 0;
          }
        }
      }
    }
    .detail-btn {
      @include detail-btn;
    }
  }
  .service {
    padding: 1rem 0 !important;
    background: #f3f3f3;
    @include ttl-block;
    .service-container {
      @include service-container;
      // flex-wrap: wrap;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      // .service-block {
      //   width: 440px;
      //   height: 200px;
      //   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      //   border-radius: 10px;
      //   padding: 1rem;
      //   margin-bottom: 48px;
      //   transition: 0.5s;
      //   a {
      //     text-decoration: none;
      //     display: flex;
      //     justify-content: space-between;
      //     align-items: center;
      //     color: #333;
      //     .s-icon {
      //       width: 25%;
      //       margin: 0 auto;
      //       img {
      //         width: 100%;
      //       }
      //     }
      //     .s-desc {
      //       width: 70%;
      //       margin-left: 5%;
      //       h3 {
      //         font-size: 1.15rem;
      //       }
      //       p {
      //         text-align: justify;
      //       }
      //     }
      //   }
      //   &:hover {
      //     background: rgb(247, 245, 245);
      //     transition: 0.5s;
      //     transform: translateY(-4px);
      //     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 10px 0 rgba(0, 0, 0, 0.12),
      //       0 4px 7px -2px rgba(0, 0, 0, 0.2);
      //   }
      // }
    }
  }
  .product {
    @include ttl-block;
    .product-container {
      // @include block-layout;
      width: 1100px;
      margin: 0 auto;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .product-box {
        width: 350px;
        overflow: hidden;
        a {
          text-decoration: none;
          img {
            width: 100%;
            transition: transform 0.4s;
            transition: 0.4s;
          }
          .pro-cate {
            margin: 1rem 0 0;
            font-size: 14px;
            color: #fff;
            display: inline-block;
            padding: 2px 18px 0px;
            background-color: #333;
            border-radius: 15px;
            font-weight: bold;
            letter-spacing: 0;
          }
          .pro-name {
            // margin: 0;
            color: #333;
            font-size: 16px;
            font-weight: bold;
            margin-top: 0.5rem;
          }
          &:hover {
            img {
              transform: scale(1.05);
              opacity: 0.8;
              transition: 0.4s;
              transition: transform 0.4s;
            }
          }
        }
      }
    }
    .detail-btn {
      @include detail-btn;
    }
  }
  .question {
    background: #f3f3f3;
    padding: 1rem 0 !important;
    @include ttl-block;
    .question-container {
      .detail-btn {
        @include detail-btn;
      }
    }
  }
  .blog {
    @include ttl-block;
    .blog-container {
      // @include block-layout;
      .blog-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .blog-block {
          width: 28%;
          border: 1px solid #DDDDDD;
          padding: 1rem;
          border-radius: 3px;
          background: #f3f3f3;
          a {
            text-decoration: none;
            color: #333;
            .blog-img {
              position: relative;
              overflow: hidden;
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                transition: background-color 0.5s;
              }
              img {
                width: 100%;
                transition: transform 0.5s;
              }
            }
            .blog-text {
              margin-top: 1rem;
              h3 {
                margin-bottom: 0;
                margin-top: 0.75rem;
                line-height: 1.75rem;
              }
            }
            &:hover {
              .blog-img img {
                transform: scale(1.2);
                transition: transform 0.5s;
              }
              ::before {
                background-color: rgba(0, 0, 0, 0.3);
              }
            }
          }
        }
      }
      .detail-btn {
        @include detail-btn;
      }
    }
  }
}
